section > strong {
    font-size: 23px;
    margin-left: 10px;
}

.card-selection {
    /* 그리드 설정 */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나누기 */
    gap: 10px; /* 열 간격 조절 (원하는 크기로 조정 가능) */

    /* 모달 내부 스타일 */
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

.cardListModal {
    /* 버튼 스타일 */
    background: #ffffff;
    padding: 10px;
    border-color: #191D23;
    border-radius: 5px;
}

.cardNames {
    color: #9c8a8b;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.selected-cards {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
}

.selected-cards > div {
    background-color: #f2f4f6;
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    min-height: 150px;
}

.selected-cards > div img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}

.compare-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2개의 열로 나누기 */
    gap: 10px; /* 열 간격 조절 (원하는 크기로 조정 가능) */
}

.selected-cards h3 {
    text-align: center;
    font-size: 16px; /* 원하는 폰트 크기로 조절하세요 */
    font-weight: bold;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: center; /* 수평 가운데 정렬을 위한 설정 */
    display: flex;
    color: #000000;
    height: 70px; /* 원하는 높이로 고정합니다. */
    margin: 0; /* 상단과 하단 마진을 0으로 설정하여 공간을 고정합니다. */
    padding: 10px 5px 10px 5px; /* 상단과 하단 패딩을 원하는 크기로 조절하세요. */
}

.plus-button {
    background-color: #0444ec;
    color: white;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 25px;
}

.x-button {
    background-color: rgba(233, 235, 238, 0.76); /* 또는 원하는 색상 */
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px; /* 작은 크기로 조절 */
    height: 24px; /* 작은 크기로 조절 */
    font-size: 12px; /* 작은 크기로 조절 */
    cursor: pointer;
    position: absolute; /* 상대적 위치 설정 */
    top: -10px; /* 상단 여백 조절 */
    right: 0px; /* 우측 여백 조절 */
}



/* 모달 스타일 */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데 정렬 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.modal-content {
    background: white;
    border-radius: 10px;
    max-height: 80vh; /* 최대 높이 설정, 화면 높이의 80%까지 허용 */
    overflow-y: auto; /* 스크롤 추가 */
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
}

/* 닫기 버튼 스타일 */
.modal-content button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: red; /* 닫기 버튼 색상 설정 */
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 기존 CSS 유지 */

.card-info {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ccc; /* 세로선 추가 */
}

.card-info:last-child {
    border-right: none; /* 오른쪽 카드의 세로선 제거 */
}

.comparedetail {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.comparedetail-label {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    /*color: #0042EC;*/
}

.comparedetail-value {
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: center; /* 수평 가운데 정렬을 위한 설정 */
    display: flex;
}

.comparedetailmember-value {
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    height: 35px;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: center; /* 수평 가운데 정렬을 위한 설정 */
    display: flex;
}

.comparedetailbenefit-value {
    margin-left: 0px;
    font-size: 14px;
    display: inline;
    flex-direction: column; /* 열 방향으로 아이템을 정렬하도록 설정 */
}

/* 새로운 CSS 추가: 가로선 스타일 */
.hr-line {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.detailCategory {
    font-weight: bold;
    margin-left: 0px;
    text-align: center;
    color: #505052;
}
.detailContents {
    margin-left: 0px;
    margin-bottom: 8px;
    text-align: center;
}

.comparedetailRecord-value {
    font-size: 14px;
    text-align: center;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: center; /* 수평 가운데 정렬을 위한 설정 */
    display: flex;
}

.comparedetailbank-value {
    font-size: 12px;
    text-align: center;
    align-items: center; /* 수직 가운데 정렬을 위한 설정 */
    justify-content: center; /* 수평 가운데 정렬을 위한 설정 */
    display: flex;
    margin-top: -1px;
}

.fixed-button-container-first {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 40%; /* 2/5 of the screen width */
    transform: translateX(-50%);
    z-index: 999; /* Place above the modal */

}

.fixed-button-container-second {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 40%; /* 4/5 of the screen width */
    transform: translateX(50%);
    z-index: 999; /* Place above the modal */
}

.fixed-button-container-first button,
.fixed-button-container-second button {
    color: white; /* Change the text color to white */
    background-color: rgb(2, 67, 236);
    border: none;
    border-radius: 5px; /* You can adjust the radius as needed */
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    height: auto;
}

.detailLink {
    color: white;
}

@media (max-width: 600px) {
    .fixed-button-container-first {
        position: fixed;
        bottom: 20px; /* Adjust as needed */
        left: 25%; /* 2/5 of the screen width */
        transform: translateX(-50%);
        z-index: 999; /* Place above the modal */

    }

    .fixed-button-container-second {
        position: fixed;
        bottom: 20px; /* Adjust as needed */
        right: 25%; /* 4/5 of the screen width */
        transform: translateX(50%);
        z-index: 999; /* Place above the modal */
    }
}

