main{
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}
section{
    padding: 20px;
}
#mainTop {
    width: auto;
    position: relative;
    /* border: 1px solid; */
    /* overflow: hidden; */
}
.mainLoginYet::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 0; top: 0;
    z-index: 99;
    opacity: 0.85;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
/* 로그인 후 */
.nextLoginFin{
    display: none;
}
/* 로그인 전 */
.nextLogin{
    display: block;
    position:absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, 10%);
    z-index: 999;
    width: auto;
    height: 60px;
    background-color: #005EEC;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nextLogin a{
    color: #fff;
    font-weight: bold;
    line-height: 60px;
    display: inline-block;
    padding: 0 20px;
}


.mainLoginYet::after{
    content: "로그인 후 서비스를 이용해보세요";
    text-align: center;
    /* width: 140px; */
    color: #f2f4f6;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    left: 50%; top: 30%;
    transform: translate(-50%, 100%);
    z-index: 99;
}


/* --------------------------슬라이드 */
.swiper-initialized {
    width: 100%;
    min-height: 410px;
    padding-bottom: 10px;
}

.swiper-slide {
    margin-top: 10%;
    width: 100%;
    width: 300px;
    max-height: 330px;
    border-radius: 18px;
    background-color: rgb(242, 244, 246);
    overflow: hidden;
    /* border: 1px solid; */
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.swiper-slide-active{
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    margin-top: 3%;
    width: 100%;
    max-height: 390px;
    z-index: 99999;
    box-shadow: rgb(252, 252, 252) 0px 50px 100px -20px, rgb(252, 252, 252) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    filter: none;
}

/* ----------맞춤 카드 */
.cardImg{
    width: 100%;
    height: 180px;
}
.cardImg img{
    position: relative;
    left: 50%;
    top: 50px;
    /* width: 135px; */
    height: 85px;
    transform: translate(-50%) rotate( 90deg );
}
/* 모바일 시 반응형 작업 추가 */
.swiper-slide-active .cardImg img{
    width: 165px;
    /* height: 120px; */
    height: 66.5%;
}
.cardInfo{
    padding: 0 20px;
    text-align: center;
}
.cardInfo strong{
    display: block;
    font-size: 14px;
    padding-top: -35px;
    letter-spacing : -1px;
}
.swiper-slide-active .cardInfo strong{
    font-size: 18px;
    margin-top: 10%;
}
.cardInfo > p{
    margin: 7px 0;
    font-size: 12px;
    color:#ABABAB;
}
.swiper-slide-active .cardInfo > p {
    margin: 5% 0;
    font-size: 14px;
}
.swiper-slide-active .cardInfo ul{
    display: block;
    margin: 0 auto;
}
.cardInfo ul li{
    margin-bottom: 3px;
    font-size: 11px;
    letter-spacing : -1px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break:break-all;
    max-width: 150px;
    height: 20px;
}
.swiper-slide-active .cardInfo ul li{
    margin-bottom: 10px;
    font-size: 12px;
    text-align: left;
}
/* ----------맞춤 카드 end */

/* ---------- 카드상담바로가기 */
.chatting {
    background: #f2f4f6;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.cardRecMain{
    width: 100%;
    background-color: #fff;
    margin: 0px 0px;
}

.cardRecMain a{
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
    transition: 1s box-shadow;
}

.cardRecMain a:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}


strong {
    font-size: 18px;
}
.cardRecMain a{
    display: block;
    text-align: left;
    height: auto;
     /*box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;*/
    border-radius: 15px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cardRecMain strong {
    margin-top: 30px;

}

.cardRecMain a img{
    margin-top: 25px;
}

#mainTop{
    margin: 20px 0;
}

/* ----------오늘의 카드 */
#todayTop{
    margin: 20px 0;
}
#todayTop > strong{
    font-size: 18px;
}
#todayTop > p {
    margin: 5px 0;
}
#todayTop > p span{
    font-size: 14px;
}
#todayTop > p span:hover{
    cursor: pointer;
}
#todayTop > p span.on{
    font-size: 16px;
    font-weight: bold;
    color: #005EEC;
}
#todayTop ul {
    margin-top: 20px;
    display: none;
}
#todayTop ul.topListOn{
    display: block;
}

#todayTop ul li {
    display: flex;
    background-color: #f2f4f6;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
#todayTop ul li .TDcardImg{
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}
#todayTop ul li .TDcardImg img{
    width: 70px;
    margin-top: -2px;
}

#todayTop ul li .TDcardInfo{
    display: inline-block;
    width: 80%;
}
#todayTop ul li .TDcardInfo p{
    font-size: 14px;
}
#todayTop ul li .TDcardInfo p:nth-child(2){
    font-size: 12px;
    color: #585858;
    margin-top: 3px;
}

#todayTop ul li .TDcardLast{
    font-size: 24px;
}

#todayTop ul li .TDcardLast ion-icon{
    vertical-align: middle;
}
#todayTop ul li .TDcardLast ion-icon:hover{
    cursor: pointer;
    color: #005EEC;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    color : #005EEC;
    font-size : 20px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-next:after{
    color : #005EEC;
    font-size : 20px;
}

@media (max-width: 450px) {
    .mainLoginYet::after {
        top: 20%;
    }
}

.cardRecMain {
    background: #ffffff;
}

.gptChatMain {
    position:relative;
    margin: 10px;
    width: fit-content;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;

    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;      /* current browsers */
    /* 우로 밀착 ! */
    margin-right: auto;
}
.gptChatMain:after {
    border-top: 0px solid transparent;
    border-left: 15px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 15px solid #ffffff;
    content:"";
    position:absolute;
    top:10px;
    left:-10px;
}