#ezcard {
  background-color: #0042EC;
  color: #ffffff;
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 40px;
  font-weight: bold;
  max-width: 500px;
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  margin: 0 auto;
}

.title {
  padding: 0;
}