/* 카드 상세 페이지 - 카드 정보 */
.detailCardInfo{
  padding: 10px;
  display: flex;
  line-height: 150%;
  margin-left: 0;
}
.detailCardInfo div:nth-child(1){
  margin-left: 0;
  width: 100px;
}
.detailCardInfo img{
  width: 125px;
  position: relative;
  top: 20%; left: -20px;
  transform: rotate( 90deg );
}
.detailCardInfo div strong{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.84);
}
.detailCardInfo div li{
  font-size: 12px;
  font-weight: bold;
}
.cardBank{
  font-size: 11px;
  color: #706F6F;
  margin-bottom: 5px;
}
.cardRecord{
  margin-top: 5px;
  font-size: 10px;
}

.mainBenefit {
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 30px;
}

.detailBox {
  display: flex;
  background-color: #f2f4f6;
  padding: 10px 0px;
  border-radius: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.detailIcon {
  width: 40px;
  height: 40px;
}

.detailTitle {
  font-weight: 800;
  flex: 0.2;
}

.detail {
  flex: 1;
  margin: 0;
  padding-right: 10px;
}

.detailBox p:last-child {
  flex: 0.6;
  margin-left: 0px;
}

.detailHeartOn{
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEDEF;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-right:0px;
  cursor: pointer;
}

.detailHeartOn ion-icon{
  font-size: 24px;
  color: #B6B6B6;
}

.active ion-icon {
  color: #F9595F;
}

@media (max-width: 450px) {
  .detailIntro{
    padding:5px;
  }
  .detailCardInfo {
    font-size:14px;
  }
  .detailCardImg{
    width:80px;
  }
  .detailCardImg img{
    width:75px;
    height:auto;
  }
  .mainBenefit{
    margin-top:10px;
  }
  .detailBox p:last-child{
    flex: 0.6 1;
  }
}