/* 카드 상세 페이지 - 카드 정보 */
.detailCardInfo{
  padding: 25px 0px 25px 0px;
  display: flex;
  line-height: 150%;
  margin-left: 0;
  background-color: #f2f4f6;
  border-radius: 8px;
}
.detailCardInfo div:nth-child(1){
  margin-left: 15px;
  margin-right: 0px;
  width: 100px;
}
.detailCardInfo img{
  width: 125px;
  position: relative;
  top: 20%; left: -20px;
  transform: rotate( 90deg );
}
.detailCardInfo div strong{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.84);
}
.detailCardInfo div li{
  font-size: 12px;
  font-weight: bold;
}
.cardBank{
  font-size: 11px;
  color: #706F6F;
  margin-bottom: 5px;
}
.cardRecord{
  margin-top: 5px;
  font-size: 10px;
}

.mainBenefit {
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 30px;
}

.detailBox {
  display: flex;
  background-color: #f2f4f6;
  padding: 10px 0px;
  border-radius: 5px;
  margin-bottom: 0px;
  align-items: center;
}

.additionalInfo {
  display: flex;
  background-color: #ffffff;
  padding: 10px 15px;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
  align-items: center;
  word-wrap: break-word; /* 하이픈(-)이 나오면 단어를 줄바꿈합니다. */
  white-space: pre-line; /* 하이픈(-)이 나오면 줄바꿈합니다. */
  font-size: 13px;
}

.detailContainer {
  background-color: rgb(242, 244, 246); /* 조금 더 연한 회색 색상 */
  padding-bottom: 2px;
  margin-bottom: 20px;
  border-radius: 10px;

}

.detailIcon {
  width: 40px;
  height: 40px;
}

.detailTitle {
  font-weight: 800;
  flex: 0.2;
  font-size: 14px;
}

.detail {
  flex: 1;
  margin: 0;
  padding-right: 10px;
  font-size: 13px;
}

.detailBox p:last-child {
  flex: 0.6;
  margin-left: 0px;
}

.detailHeartOn{
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEDEF;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-right:10px;
  cursor: pointer;
}

.detailHeartOn ion-icon{
  font-size: 24px;
  color: #B6B6B6;
  /*margin-right: 10px;*/
}

.active ion-icon {
  color: #F9595F;
  /*margin-right: 10px;*/
}

.cardCompanyLink{
  margin-bottom: 20px;
}

.company_Link {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

@media (max-width: 450px) {
  .detailIntro{
    padding:5px;
  }
  .detailCardInfo {
    font-size:14px;
  }
  .detailCardImg{
    width:80px;
  }
  .detailCardImg img{
    width:75px;
    height:auto;
  }
  .mainBenefit{
    margin-top:10px;
  }
  .detailBox p:last-child{
    flex: 0.6 1;
  }
}
