/* 카드 상세 페이지 - 카드 정보 */
.detailCardImg img{
  width: 100px;
  height: 140px;
  float: left;
}
.detailCardImg{
  width:100px;
}
.detailIntro {
  display:flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
  padding:0px 30px
}
.sectionCL > ul li:last-child{
  margin-bottom:50px;
}

.detailCardName {
  padding-top: 7px;
  font-size: 18px;
  font-weight: 800;
  float: left;
  margin-left: 0px;
  margin-bottom: 15px;
}

.cardHeader {
  display: flex;
  align-items: right;
  justify-content: space-between;
}

.detailCardInfo {
  flex-grow: 0.5;
}

.detailCardInfo li {
  margin-bottom: 5px;
  margin-bottom: 5px;
}

.detailCardInfo img{
  width: 15px;
  height: 15px;
}

.mainBenefit {
  font-size: 20px;
  font-weight: 800;
  margin-top: 60px;
  margin-bottom: 30px;
}

.detailBox {
  display: flex;
  background-color: #f2f4f6;
  padding: 10px 0px;
  border-radius: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.detailIcon {
  width: 40px;
  height: 40px;
}

.detailTitle {
  font-weight: 800;
  flex: 0.2;
}

.detail {
  flex: 1;
  margin: 0;
  padding-right: 10px;
}

.detailBox p:last-child {
  flex: 0.3;
  margin-left: 0px;
}

.detailHeartOn{
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEDEF;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 0px;
  margin-right:0px;
  cursor: pointer;
}

.detailHeartOn ion-icon{
  font-size: 24px;
  color: #B6B6B6;
}

.active ion-icon {
  color: #F9595F;
}

@media (max-width: 450px) {
  .detailIntro{
    padding:10px;
  }
  .detailCardInfo {
    font-size:14px;
  }
  .detailCardImg{
    width:80px;
  }
  .detailCardImg img{
    width:75px;
    height:auto;
  }
  .mainBenefit{
    margin-top:50px;
  }
  .detailBox p:last-child{
    flex: 0.6 1;
  }
}