<div id="chat_messages" class="chatContainer">
    <div class="gptChat" style="order: 4;"><p><span>카드이름: 노리체크카드 / 추천이유: 다양한 할인 혜택과 연회비 없음</span></p></div>
    <div class="gptChat" style="order: 2;"><p><span>안녕하세요! 카드 추천을 도와드릴게요. 어떤 종류의 카드를 찾으시나요? 예를 들어, 신용카드, 체크카드, 혹은 복지카드 중에서 원하시는 카드를 알려주세요.</span>
    </p></div>
    <div class="gptChat" style=""><p><span>
        <div class="gptChat gptChatCr">
            <div><img src="/static/media/card_test_img.9a706fe0abcdbfd9dc69.png" alt="CardTestImage"></div>
            <div><strong>노리체크카드</strong>
                <p class="cardBank">KB국민카드</p>
                <ul>
                    <li>대중교통 10% 청구할인</li>
                    <li>이동통신요금 2,500원 환급할인</li>
                    <li>CGV 35% 환급할인</li>
                </ul>
                <p class="cardRecord"><span>전월실적 20만원 이상</span><span> / </span><span>없음</span></p></div>
        </div>
        </span></p></div>
    <div class="userChat" style=""><p><span>카드 추천해줘</span></p></div>
    <div class="userChat"><p><span>안녕</span></p></div>
</div>
