section > strong {
    font-size: 23px;
    margin-left: 10px;
}

.catalogCardInfo{
    padding: 10px 10px 10px 0px;
    display: flex;
    line-height: 150%;
    margin-left: 0;
    background-color: #f2f4f6;
    border-radius: 8px;
}
.catalogCardInfo div:nth-child(1){
    margin-left: 15px;
    margin-right: 0px;
    width: 100px;
}
.catalogCardInfo img{
    width: 125px;
    position: relative;
    top: 20%; left: -20px;
    transform: rotate( 90deg );
}
.catalogCardInfo div strong{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.84);
}
.catalogCardInfo div li{
    font-size: 11px;
    font-weight: bold;
}
.catalogcardBank{
    font-size: 11px;
    color: #706F6F;
    margin-bottom: 5px;
}
.catalogcardRecord{
    margin-top: 5px;
    font-size: 10px;
}

.mainBenefit {
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 30px;
}
.catalogDeatil {
    margin-left: 10px;
    width: 200px;
}

/* Catalog.css */

.button-container {
    display: flex;
    justify-content: space-between; /* 버튼 간 간격을 동일하게 설정합니다. */
    margin-bottom: 20px; /* 버튼과 카드 목록 사이의 여백을 설정합니다. */
}

.button-container button {
    background-color: rgba(233, 235, 238, 0.18); /* 버튼 배경색 */
    color: #000000; /* 버튼 텍스트 색상 */
    padding: 10px 20px; /* 버튼 안의 패딩 설정 */
    border: none; /* 버튼 테두리 제거 */
    border-radius: 5px; /* 버튼 모서리를 둥글게 만듭니다. */
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 효과를 부드럽게 만듭니다. */
    margin-right: 10px; /* 버튼 간의 오른쪽 여백 설정 */
}

.button-container button:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
}

.button-container button:hover {
    background-color: rgb(2, 67, 236); /* 호버 시 배경색 변경 */
    color: white;
    font-weight: bold;
}
