<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>

<body>
<h1>회원 정보 수정</h1>
<form action="/member/update" method="post">
    <input type="hidden" th:value="${updateMember.id}" name="id"><br>
    이메일: <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail" readonly> <br>
    비밀번호: <input type="text" th:value="${updateMember.memberPassword}" name="memberPassword"> <br>
    닉네임: <input type="text" th:value="${updateMember.memberNickName}" name="memberNickName"> <br>
    나이: <input type="number" th:value="${updateMember.memberAge}" name="memberAge"><br>
    성별:
    <select name="memberGender">
        <option value="M" th:selected="${updateMember.memberGender == 'M'}">남성</option>
        <option value="F" th:selected="${updateMember.memberGender == 'F'}">여성</option>
    </select><br>
    직업:
    <select name="memberJob">
        <option value="STUDENT" th:selected="${updateMember.memberJob == 'STUDENT'}">학생</option>
        <option value="WORKER" th:selected="${updateMember.memberJob == 'WORKER'}">직장인</option>
    </select><br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>
